/*

Custom Styles for cookie consent popup

*/
.cc-window {
	background-color: #fff;
}

/* Custom styles */
.cookie-heading {
	padding-right: 20px;
}
.cookie-consent {
	padding-right: 20px;
	font-family: inherit;
}
.cc-compliance {
	display: block;
}
.cc-compliance a {
	margin-bottom: 8px;
}
.cc-compliance a:last-child {
	margin-bottom: 0;
}
.cc-compliance .btn {
	display: block;
	text-align: center;
}
.cc-link {
	padding: 0;
}
.cookie-settings .settings-heading {
	float: left;
	width: calc(100% / 12 * 2);
	text-align: right;
}
.cookie-settings .settings-form {
	padding-left: 24px;
	float: left;
	width: calc(100% / 12 * 10);
}
.cookie-settings .switch {
	max-height: none;
}

/*
 * Floating override
 */
.cc-floating {
	max-width: 100%;
	width: 100%;
}

.cc-dismiss::after {
	display: none;
}

/*
   * Cookie Settings
   */
.settings-dismiss {
	background-color: #aa8f6f !important;
	color: #fff !important;
	cursor: pointer;
	margin-bottom: 8px;
	display: inline-block;
	box-sizing: border-box;
	text-transform: uppercase;
	vertical-align: middle;
	white-space: nowrap;
	font-family: inherit;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	padding: 12px;
}
.settings-dismiss:hover {
	background-color: #917655 !important;
}

.cookie-settings {
	display: none;
	/* Rounded sliders */
}
.cookie-settings .icon-gold {
	color: #aa8f6f;
	font-size: 36px;
	line-height: 30px;
}
.cookie-settings .cc-dismiss::after {
	display: none;
}
.cookie-settings .settings-form {
	padding-left: 24px;
}
.cookie-settings .settings-form h2 {
	margin-bottom: 6px;
}
.cookie-settings .settings-form h2 .tk-icon {
	margin-top: -4px;
}
.cookie-settings .settings-form .settings-indiv {
	padding-left: 72px;
}
.cookie-settings .settings-form .settings-indiv .checkbox label {
	min-height: 22px;
	padding-left: 20px;
	margin-bottom: 0;
	font-weight: 400;
	cursor: pointer;
	position: relative;
}
.cookie-settings .settings-form .settings-indiv .checkbox input {
	position: absolute;
	margin-left: -20px;
	margin-top: 5px;
	margin-right: 4px;
	margin-bottom: 8px;
	border: 0;
}
.cookie-settings .settings-form .settings-indiv .checkbox:last-child {
	margin-bottom: 0;
}
@media (max-width: 767px) {
	.cookie-settings .settings-form .settings-indiv {
		padding-left: 0;
	}
}
@media (max-width: 767px) {
	.cookie-settings .settings-form {
		padding-left: 10px;
	}
}
.cookie-settings .switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 30px;
	margin-bottom: -6px;
	margin-right: 6px;
}
.cookie-settings .switch input {
	display: none;
}
.cookie-settings .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	transition: 0.4s;
}
.cookie-settings .slider:before {
	position: absolute;
	content: "";
	height: 22px;
	width: 22px;
	left: 6px;
	bottom: 4px;
	background-color: white;
	transition: 0.4s;
}
.cookie-settings input:checked + .slider {
	background-color: #aa8f6f;
}
.cookie-settings input:focus + .slider {
	box-shadow: 0 0 1px #aa8f6f;
}
.cookie-settings input:checked + .slider:before {
	transform: translateX(26px);
}
.cookie-settings .slider.round {
	border-radius: 34px;
}
.cookie-settings .slider.round:before {
	border-radius: 50%;
}
